#contactMe{
    float: right;
    color: #3bd389;
}

#contactMe:hover{
    background-color: #363636;
    color: #f5f5f5;
}

@media only screen and (max-width: 425px) {
    #contact_container{
        padding-top: 0px ;
        padding-left: 0px;
        padding-right: 0px;
    }
}


