#menu-links{
    margin-top: 120px!important;
}

#home-link-title, #home-link, #about-link, #contact-link, #signup-link, #login-link{
    color: white!important
}

#home-link-title:hover{
    background-color: #3bd389!important;
}

#home-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#about-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#contact-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#signup-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#login-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#heroHomePage2{
    background-color: #3DD388;
}

#hamburger-title{
    margin-right: 10%!important;
}