#menu-links{
    margin-top: 70px!important;
}

#drawer_photo{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

#myprofile-title, #myprofile-link, #findafriend-link, #international-link, #logout-link, #alerts-link, #settings-link{
    color: white!important
}

#myprofile-title{
    margin-bottom: 0px;
}

#myprofile-link{
    margin-bottom: 0px!important;
}

#myprofile-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#findafriend-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#international-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#logout-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#drawer_icon_links{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-link{
    padding-left: 10%;
    float: left;
    margin-top: -5.5%;
}

#settings-link{
    font-size: 20px;
    margin-right: 20px;
    float: left;
    padding-left: 10%;
}

#settings-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}

#alerts-link{
    font-size: 20px;
    margin-right: 20px;
    float: left;
    padding-left: 10%;
}

#alerts-link:hover{
    color: #363636!important;
    background-color: #3bd389!important;
}


#heroHomePage2{
    background-color: #3DD388;
}

#hamburger-title{
    margin-right: 10%!important;
}

#alert-icon{
    margin-right:3%!important;
}

#settings-icon{
    margin-right:3%!important;
}