#friendImage{
    height: 48px!important;
    width: 48px!important;
    margin: 0 auto;
    margin-right: 1%;
}

.transactionInfo {
    font-size: 20px;
}

#payments{
    height: 300px;
    overflow-y: scroll;
}

#side-menu-column{
    height: 100%!important;
}

#profile_cards{
    margin: 0 auto;
    padding: 0px
}
